<?xml version="1.0"?>
<!--
/**
 * Blackbird Data Model Sample Module
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category    Blackbird
 * @package     Blackbird_DataModelSample
 * @copyright   Copyright (c) 2018 Blackbird (https://black.bird.eu)
 * @author      Blackbird Team
 * @license     MIT
 * @support     help@bird.eu
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preference for Reverse Dependency -->
    <preference for="Blackbird\DataModelSample\Api\Data\StudentInterface" type="Blackbird\DataModelSample\Model\Student"/>
    <preference for="Blackbird\DataModelSample\Api\StudentRepositoryInterface" type="Blackbird\DataModelSample\Model\StudentRepository"/>
    <preference for="Blackbird\DataModelSample\Api\Data\TeacherInterface" type="Blackbird\DataModelSample\Model\Teacher"/>
    <preference for="Blackbird\DataModelSample\Api\TeacherRepositoryInterface" type="Blackbird\DataModelSample\Model\TeacherRepository"/>
    <!-- Register the Abstract Repositories -->
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Blackbird\DataModelSample\Api\StudentInterface" xsi:type="string">Blackbird\DataModelSample\Api\StudentRepositoryInterface</item>
                <item name="Blackbird\DataModelSample\Api\TeacherInterface" xsi:type="string">Blackbird\DataModelSample\Api\TeacherRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <!-- Register the entities to the Entity Persistence Manager -->
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Blackbird\DataModelSample\Api\Data\StudentInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">blackbird_ts_student</item>
                    <item name="identifierField" xsi:type="string">id_student</item>
                </item>
                <item name="Blackbird\DataModelSample\Api\Data\TeacherInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">blackbird_ts_teacher</item>
                    <item name="identifierField" xsi:type="string">id_teacher</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Add extra operation to the entities persistence, like external relations -->
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Blackbird\DataModelSample\Api\Data\StudentInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="studentReader" xsi:type="string">Blackbird\DataModelSample\Model\ResourceModel\Student\Relation\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="studentCreator" xsi:type="string">Blackbird\DataModelSample\Model\ResourceModel\Student\Relation\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="studentUpdater" xsi:type="string">Blackbird\DataModelSample\Model\ResourceModel\Student\Relation\SaveHandler</item>
                    </item>
                </item>
                <item name="Blackbird\DataModelSample\Api\Data\TeacherInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="teacherReader" xsi:type="string">Blackbird\DataModelSample\Model\ResourceModel\Teacher\Relation\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="teacherCreator" xsi:type="string">Blackbird\DataModelSample\Model\ResourceModel\Teacher\Relation\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="teacherUpdater" xsi:type="string">Blackbird\DataModelSample\Model\ResourceModel\Teacher\Relation\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Register the hydrator strategy for our entities -->
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Blackbird\DataModelSample\Api\Data\StudentInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Blackbird\DataModelSample\Api\Data\TeacherInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
</config>